*{
  padding: 0;
  margin: 0;
}
.icon{
  width: 20px;
}
.iconbox{
  align-items: center;
  display: flex;
  padding: 7px;
  border: 1px solid black;
  margin-left: 10px;
}
.white{
  background-color: white;
}
.explore{
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
}
